a{
  text-decoration: none;
  color: inherit
}
.cf::after{
  content: '';
  display: block;
  clear: both;
}
.open{
  background: #fa2;
  color: #fff;
  cursor: pointer;
  width: 50px;
  padding: 10px;
}
#slideBox{
  padding: 10px;
  border: 1px #ccc solid;
  display: none;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",Helvetica,Sans-Serif;
}
